   <%= form_with(model: @contact, local: true, url: choose_new_or_edit) do |form| %>
     <% if @contact.errors.any? %>
       <div id="error_expanation">
       <p class="alert alert-danger"><%= @contact.errors.count %>件のエラーがあります。</p>
       <ul class="alert_reason">
         <% @contact.errors.full_messages.each do |msg| %>
           <li><%= msg %></li>
         <% end %>
       </ul>
       </div>
     <% end %>

     <div class="contact_title">
       <div class="form-group, col-md-6">
       <%= form.label :title %>
       <%= form.text_field :title, class: 'form-control'%>
     </div>
     <br>
     </div>
     <div class="contact_title">
       <div class="form-group, col-md-6">
       <%= form.label :content %>
       <%= form.text_area :content, class: 'form-control', rows: "3" %>
       <p class="help-block">1~500文字以内で入力してください。</p>
     </div>
     </div>
     <br>
     <div class="contact_title">
     <%= image_tag(@contact.image.url) if @contact.image.url %>
     <%= form.file_field :image, id: :feed_image %>
     </div>
     <br>
    <%= form.submit "投稿", class: 'btn btn-default btn-sm btn-success' %>

   <% end %>
