    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <h1>問い合わせ一覧</h1>
          <div id ="new-contact-link">
            <%= link_to '新規問い合わせ', new_contact_path, class: 'btn btn-default btn-sm btn btn-success' %>
          </div>
          <br>
            <% @contacts.each do |contact| %>
            <% user = User.find_by(id: contact.user_id) %>
              <p>投稿者：<%= user.name %></p>
              <p>件名：<%= contact.title %></p>
              <p>内容：<%= contact.content %></p>
              <P>作成日時：<%= contact.created_at.in_time_zone('Tokyo').strftime("%Y-%m-%d %H:%M") %></p>
              <p><%= image_tag contact.image %></p>
              <%= link_to '詳細', contact_path(contact.id), class: 'btn btn-default btn-sm btn-default' %>
              <% if contact.user_id == current_user.id %>
              <%= link_to '編集', edit_contact_path(contact.id), data:{confirm: '編集ますか？'}, class: 'btn btn-default btn-sm btn-info' %> 
              <%= link_to '削除', contact_path(contact.id), method: :delete, data:{confirm: '本当に削除しますか？'}, class: 'btn btn-default btn-sm btn btn-danger' %>
              <% end %>
              <br>
              <br>
            <% end %>
       </div>
    </div>
</div>
